@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>TRABAJO PRACTINO N 1</h2>

    <h3>Problema 1</h3>
    <form asp-action="Problema1" method="post">
        <label>Ingrese un números</label>
        <input id="a" type="text" name="a" />
        <input type="submit" value="Enviar..." />
    </form>

    <h3>Problema 2</h3>
    <form asp-action="Problema2" method="post">
        <label>Ingrese 2 números</label>
        <input id="a" type="text" name="a" />
        <input id="b" type="text" name="b" />
        <input type="submit" value="Enviar..." />
    </form>

    <h3>Problema 3</h3>
    <form asp-action="Problema3" method="post">
        <label>Desea ver el listado de provincias de Argentina?</label>
        <input type="submit" value="Si!!" />
    </form>

    <h3>Problema 4</h3>
    <form asp-action="Problema4" method="post">
        <legend>Ingrese la cantidad de km y litros usados:</legend>
        <label> Km </label>
        <input id="km" type="text" name="km" />
        <label> Litros </label>
        <input id="litros" type="text" name="litros" />
        <input type="submit" value="Enviar..." />
    </form>
</div>
